<launch>
   <node name="turtlebot_mpc_node" pkg="turtlebot_mpc" type="turtlebot_mpc_node" output="screen" >
      <param name="mpc_config_path" value="$(find turtlebot_mpc)/cfg/mpc_config.yaml" />
      <!--<rosparam command="load" file="$(find turtlebot_mpc)/cfg/mpc_config.yaml" />-->
   </node>

</launch>